{% extends 'adminheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
<style type="text/css">
   table,tr,th,td
    {
        margin-left:20px;
        margin-right:20px;
        font-family:arial;
        border:1px solid black;
        border-collapse:collapse;
        width:100%;
    }
    th,td
    {
    width:200px;
    height:50px;
    text-align:center;
    font-family:verdana;
    }
</style>
        <!-- About Start -->
        <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="section-title text-start mb-5">
                            <h4 class="sub-title pe-3 mb-0">Admin View Reports Page</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

{% endblock %}
</body>
</html>