{% extends 'commonheader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
            <!-- Carousel Start -->
            <div class="header-carousel owl-carousel">
                <div class="header-carousel-item">
                    <img src="/static/img/Pic1.avif" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Learning Management System</h5>                            
                            <p class="mb-5 fs-5">
                                A Learning Management System (LMS) is a software application used to plan, implement, and assess a specific learning process. It acts as a centralized digital hub for creating, managing, delivering, and tracking educational courses or training programs. LMS platforms are widely used in both academic settings and corporate environments to facilitate online, in-person, or blended learning.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="header-carousel-item">
                    <img src="/static/img/Pic2.jpg" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Learning Management System</h5>       
                            <p class="mb-5 fs-5 animated slideInDown">
                                A learning management system (LMS) is a software application or web-based technology used to plan, implement and assess a specific learning process. In its most common form, an LMS consists of a server that performs the base functionality and a user interface.
                            </p>                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel End -->
        </div>
        <!-- Navbar & Hero End -->
{% endblock %}
</body>
</html>