{% extends 'studentheader.html' %}
{% load static %}
{% block content %}
<style type="text/css">
   table,tr,th,td
    {
        margin-left:10px;
        margin-right:20px;
        font-family:arial;
        border:1px solid black;
        border-collapse:collapse;
        width:100%;
    }
    th,td
    {
    width:200px;
    height:50px;
    text-align:center;
    font-family:verdana;
    }
</style>

    <div class="container-xxl about mb-5" style="margin-top: 6rem;
background-image:url('');">
        <div class="container">
            <div class="row g-0">
                <br><br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="title-box">
                        <h2>Student View Reports</h2>
                    </div>
                </div>
            </div>


            <div class="row">
                
            </div>

        </div>
            <br><br>
        <br><br>

        </div>

        
        <br>
        

            

{% endblock %}